<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>190820425173-92ssf18bqvkk29b49k5eaplao4u79huq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190820425173-92ssf18bqvkk29b49k5eaplao4u79huq</string>
	<key>API_KEY</key>
	<string>AIzaSyBuZQmU7ZME7P9zVcysZkrn336K2I950sI</string>
	<key>GCM_SENDER_ID</key>
	<string>190820425173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tazawaq.tazawaqapp</string>
	<key>PROJECT_ID</key>
	<string>talbatk-203523</string>
	<key>STORAGE_BUCKET</key>
	<string>talbatk-203523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190820425173:ios:5439fd5b8b6b714e</string>
	<key>DATABASE_URL</key>
	<string>https://talbatk-203523.firebaseio.com</string>
</dict>
</plist>