<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Talbatk.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ECD496FF04CE32408790DC8A0299317B7C26778F</string>
				<key>dateExpires</key>
				<string>6/20/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3NGGT5P4S8.com.tazawaq.tazawaqapp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3NGGT5P4S8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Talbatk.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d390285b-b518-4458-a7cd-6a9286706508</string>
				<key>name</key>
				<string>com.tazawaq.tazawaqapp AppStore</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3NGGT5P4S8</string>
				<key>name</key>
				<string>abdulmalik albaker</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
